<%- include('../partials/header') %>
<form id="new-form" action="/flights/<%= flight %>/tickets" method="POST">
    <div>
        <label>Seat</label>
        <input type="text" name="seat">
    </div>
    <div>
    <label>Price</label>
    <input type="text" name="price">
    </div>
    <input type="submit" value="Buy Ticket">
</form>
<%- include('../partials/footer') %>